<!-- /snippets/breadcrumb.liquid -->
<div class="grid--full grid-padding">
{% if template != 'index' or template != 'cart' %}
<nav class="breadcrumb" role="navigation" aria-label="breadcrumbs">
  
  <a href="/" title="{{ 'general.breadcrumbs.home_link_title' | t }}">{{ 'general.breadcrumbs.home' | t }}</a>

  {% comment %}{% unless template == 'product' %}
  {% unless collection.handle == 'prosthetic-textiles' or collection.handle == 'personal-care' or collection.handle == 'prosthesis-suspension' or collection.handle == 'prosthetic-remedies' or collection.handle == 'featured-products' %}
  <span aria-hidden="true">&rsaquo;</span>
  {% endunless %}
  {% endunless %}{% endcomment %}

  {% if template contains 'collection' %}
  <span aria-hidden="true">&rsaquo;</span>
  {% if collection.handle contains 'prosthetic-sheaths' or collection.handle contains 'amputee-socks' or collection.handle contains 'stump-shrinkers' or collection.handle contains 'cosmetic-hosiery' or collection.handle contains 'textile-accessories' %}
  <a href="/collections/prosthetic-textiles">Textiles</a>
  {% elsif collection.handle contains 'suspension' or collection.handle contains 'prosthetic-liners' %}
  <a href="/collections/prosthesis-suspension">Suspension a</a>
  {% elsif collection.handle contains 'skin-care-treatments' or collection.handle contains 'prosthetic-cleansers' or collection.handle contains 'sweat-control' or collection.handle contains 'moisturizers' or collection.handle contains 'scar-and-wound-care' or collection.handle contains 'skin-care-collections' %}
  <a href="/collections/personal-care">Personal Care</a>
  {% elsif collection.handle contains 'cushion-and-volume-aids' or collection.handle contains 'cosmetic-finishing' or collection.handle contains 'slip-on-aids' or collection.handle contains 'travel-and-mobility' or collection.handle contains 'arm-amputee-supplies' or collection.handle contains 'friction-fighting' %}
  <a href="/collections/prosthetic-remedies">Remedies</a>  
  {% endif %}
  {% endif %}

  {% if template contains 'product' %}

  {% if collection %}
  {% if collection.handle %}
  {% capture url %}/collections/{{ collection.handle }}{% endcapture %}
  <span aria-hidden="true">&rsaquo;</span>
  {{ collection.title | link_to: url }}
  {% endif %}
  {% endif %}

  <span aria-hidden="true">&rsaquo;</span>
  <span>{{ product.title }}</span>

  {% elsif template contains 'collection' %}
  <span aria-hidden="true">&rsaquo;</span>
  {% if current_tags %}
  {% capture url %}/collections/{{ collection.handle }}{% endcapture %}
  {{ collection.title | link_to: url }}
  <span aria-hidden="true">&rsaquo;</span>
  <span>{{ current_tags | join: " + " | replace: "-"," " }}</span>
  {% else %}
  <span>{{ collection.title }}</span>
  {% endif %}

  {% elsif template == 'blog' %}
  
  <span aria-hidden="true">&rsaquo;</span>
  {% if current_tags %}
  {{ blog.title | link_to: blog.url }}
  <span aria-hidden="true">&rsaquo;</span>
  <span>{{ current_tags | join: " + " }}</span>
  {% else %}
  <span>{{ blog.title }}</span>
  {% endif %}

  {% elsif template == 'article' %}

  <span aria-hidden="true">&rsaquo;</span>
  {{ blog.title | link_to: blog.url }}
  <span aria-hidden="true">&rsaquo;</span>
  <span>{{ article.title }}</span>

  {% elsif template contains 'page' %}

  <span aria-hidden="true">&rsaquo;</span>
  <span>{{ page.title }}</span>

  {% else %}

  <span aria-hidden="true">&rsaquo;</span>
  <span>{{ page_title }}</span>

  {% endif %}
</nav>
{% endif %}
</div>