<div class="homepage-slideshow medium-down--hide"> 
  
  {% if settings.enable_image1 %}
    <div>
      <a href="{{ settings.link_image1 }}">
          <img src="{{ 'newimage1.jpg' | asset_url }}"  {% comment %}alt="{{ settings.link_image1 | escape }}"{% endcomment %} alt="RBKA amputee indoor rocking wearing a locking prosthetic liner and ossur flexfoot." style="width: 100%;">
        <div class="slider-caption {% if settings.position_image1 == 'image1_left' %}align-left{% endif %} {% if settings.position_image1 == 'image1_center' %}align-center {% endif %}{% if settings.position_image1 == 'image1_right' %}align-right{% endif %}">
          <h1>{{ settings.caption_image1 }}</h1>
            {% if settings.button_image1 %}
              <div class="slider-button">
                <p>{{ settings.buttontext_image1 }}</p>
              </div>
            {% endif %}
        </div>
      </a>
    </div>
  {% endif %}
  
    {% if settings.enable_image2 %}
    <div>
      <a href="{{ settings.link_image2 }}">
          <img src="{{ 'newimage2.jpg' | asset_url }}" alt="RAKA operating a forklift wearing amputee supplies to fight chafing. He's wearing a suction socket, ottobock c-leg and triton OB foot." style="width: 100%;">
        <div class="slider-caption {% if settings.position_image2 == 'image2_left' %}align-left{% endif %} {% if settings.position_image2 == 'image2_center' %}align-center {% endif %}{% if settings.position_image2 == 'image2_right' %}align-right{% endif %}">
          <h1>{{ settings.caption_image2 }}</h1>
            {% if settings.button_image2 %}
              <div class="slider-button">
                <p>{{ settings.buttontext_image2 }}</p>
              </div>
            {% endif %}
        </div>
      </a>
    </div>
  {% endif %}
  
    {% if settings.enable_image3 %}
    <div>
      <a href="{{ settings.link_image3 }}">
          <img src="{{ 'newimage3.jpg' | asset_url }}" alt="Blind BKA amputee riding subway wearing prosthetic socks and ottobock harmony vacuum system with triton prosthetic foot." style="width: 100%;">
        <div class="slider-caption {% if settings.position_image3 == 'image3_left' %}align-left{% endif %} {% if settings.position_image3 == 'image3_center' %}align-center {% endif %}{% if settings.position_image1 == 'image3_right' %}align-right{% endif %}">
          <h1>{{ settings.caption_image3 }}</h1>
            {% if settings.button_image3 %}
              <div class="slider-button">
                <p>{{ settings.buttontext_image3 }}</p>
              </div>
            {% endif %}
        </div>
      </a>
    </div>
  {% endif %}
  
    {% if settings.enable_image4 %}
    <div>
      <a href="{{ settings.link_image4 }}">
          <img src="{{ 'newimage4.jpg' | asset_url }}" style="width: 100%;">
        <div class="slider-caption {% if settings.position_image4 == 'image4_left' %}align-left{% endif %} {% if settings.position_image4 == 'image4_center' %}align-center {% endif %}{% if settings.position_image1 == 'image4_right' %}align-right{% endif %}">
          <h1>{{ settings.caption_image4 }}</h1>
            {% if settings.button_image4 %}
              <div class="slider-button">
                <p>{{ settings.buttontext_image14 }}</p>
              </div>
            {% endif %}
        </div>
       </a>
    </div>
  {% endif %}
  
    {% if settings.enable_image5 %}
    <div>
      <a href="{{ settings.link_image5 }}">
          <img src="{{ 'image5.jpg' | asset_url }}" style="width: 100%;">
        <div class="slider-caption {% if settings.position_image5 == 'image5_left' %}align-left{% endif %} {% if settings.position_image5 == 'image5_center' %}align-center {% endif %}{% if settings.position_image5 == 'image5_right' %}align-right{% endif %}">
          <h1>{{ settings.caption_image5 }}</h1>
            {% if settings.button_image5 %}
              <div class="slider-button">
                <p>{{ settings.buttontext_image5 }}</p>
              </div>
            {% endif %}
        </div>
      </a>
    </div>
  {% endif %}
  
</div>

<div class="homepage-slideshow large--hide small-slider"> 

  {% if settings.enable_image1 %}
    <div>
      <a href="{{ settings.link_image1 }}">
          <img src="{{ 'amputee-rock-climber-with-prosthetic-m.jpg' | asset_url }}" alt="Active BKA enjoying sports with his new prosthetic sleeve suspension." style="width: 100%;">
        <div class="slider-caption {% if settings.position_image1 == 'image1_left' %}align-left{% endif %} {% if settings.position_image1 == 'image1_center' %}align-center {% endif %}{% if settings.position_image1 == 'image1_right' %}align-right{% endif %}">
          <h1>{{ settings.caption_image1 }}</h1>
            {% if settings.button_image1 %}
              <div class="slider-button">
                <p>{{ settings.buttontext_image1 }}</p>
              </div>
            {% endif %}
        </div>
      </a>
    </div>
  {% endif %}
  
    {% if settings.enable_image2 %}
    <div>
      <a href="{{ settings.link_image2 }}">
          <img src="{{ 'raka-wearing-prosthetic-computer-leg-m2.jpg' | asset_url }}" alt="Above knee amputee hard at work using a computer leg by otto bock and antichafing products." style="width: 100%;">
        <div class="slider-caption {% if settings.position_image2 == 'image2_left' %}align-left{% endif %} {% if settings.position_image2 == 'image2_center' %}align-center {% endif %}{% if settings.position_image2 == 'image2_right' %}align-right{% endif %}">
          <h1>{{ settings.caption_image2 }}</h1>
            {% if settings.button_image2 %}
              <div class="slider-button">
                <p>{{ settings.buttontext_image2 }}</p>
              </div>
            {% endif %}
        </div>
      </a>
    </div>
  {% endif %}
  
    {% if settings.enable_image3 %}
    <div>
      <a href="{{ settings.link_image3 }}">
          <img src="{{ 'blind-amputee-wearing-ob-harmony-m3.jpg' | asset_url }}" alt="Blind and a below knee amputee rides public transportation to work wearing his stump socks." style="width: 100%;">
        <div class="slider-caption {% if settings.position_image3 == 'image3_left' %}align-left{% endif %} {% if settings.position_image3 == 'image3_center' %}align-center {% endif %}{% if settings.position_image1 == 'image3_right' %}align-right{% endif %}">
          <h1>{{ settings.caption_image3 }}</h1>
            {% if settings.button_image3 %}
              <div class="slider-button">
                <p>{{ settings.buttontext_image3 }}</p>
              </div>
            {% endif %}
        </div>
      </a>
    </div>
  {% endif %}
  
    {% if settings.enable_image4 %}
    <div>
      <a href="{{ settings.link_image4 }}">
          <img src="{{ 'newimage4m.jpg' | asset_url }}" style="width: 100%;">
        <div class="slider-caption {% if settings.position_image4 == 'image4_left' %}align-left{% endif %} {% if settings.position_image4 == 'image4_center' %}align-center {% endif %}{% if settings.position_image1 == 'image4_right' %}align-right{% endif %}">
          <h1>{{ settings.caption_image4 }}</h1>
            {% if settings.button_image4 %}
              <div class="slider-button">
                <p>{{ settings.buttontext_image14 }}</p>
              </div>
            {% endif %}
        </div>
       </a>
    </div>
  {% endif %}
  
    {% if settings.enable_image5 %}
    <div>
      <a href="{{ settings.link_image5 }}">
          <img src="{{ 'image5m.png' | asset_url }}" style="width: 100%;">
        <div class="slider-caption {% if settings.position_image5 == 'image5_left' %}align-left{% endif %} {% if settings.position_image5 == 'image5_center' %}align-center {% endif %}{% if settings.position_image5 == 'image5_right' %}align-right{% endif %}">
          <h1>{{ settings.caption_image5 }}</h1>
            {% if settings.button_image5 %}
              <div class="slider-button">
                <p>{{ settings.buttontext_image5 }}</p>
              </div>
            {% endif %}
        </div>
      </a>
    </div>
  {% endif %}
  
</div>