<!-- /snippets/homepage-featured-images.liquid -->

<a href="{{ settings.link_feat1 }}">
  <div class="featured-box grid__item large--one-third medium--one-whole small--one-whole">
    <img src="{{ settings.feat_1 | img_url: 'original' }}" alt="{{settings.alt_feat1}}"  />
    <div class="feat-caption {% if settings.position_feat1 == 'feat1_left' %}feat-left {% endif %}{% if settings.position_feat1 == 'feat1_center' %}feat-center {% endif %}{% if settings.position_feat1 == 'feat1_right' %}feat-right{% endif %}">
      <h2 style="color: {{ settings.captioncolor_feat1 }};">{{ settings.captiontitle_feat1 }}</h2>
      <p class="interior">{{ settings.caption_feat1 }}</p>
      <div class="caption-button">
        <p>{{ settings.button_feat1 }}</p>
      </div>
    </div>
  </div>
</a>

<a href="{{ settings.link_feat2 }}">
  <div class="featured-box grid__item large--one-third medium--one-whole small--one-whole">
    <img src="{{ settings.feat_2 | img_url: 'original' }}" alt="{{settings.alt_feat2}}"  />
    <div class="feat-caption {% if settings.position_feat2 == 'feat2_left' %}feat-left {% endif %}{% if settings.position_feat2 == 'feat2_center' %}feat-center {% endif %}{% if settings.position_feat2 == 'feat2_right' %}feat-right{% endif %}">
      <h2 style="color: {{ settings.captioncolor_feat2 }};">{{ settings.captiontitle_feat2 }}</h2>
      <p class="interior">{{ settings.caption_feat2 }}</p>
      <div class="caption-button">
        <p>{{ settings.button_feat2 }}</p>
      </div>
    </div>
  </div>
</a>

<a href="{{ settings.link_feat3 }}">
  <div class="featured-box grid__item large--one-third medium--one-whole small--one-whole">
    <img src="{{ settings.feat_3 | img_url: 'original' }}" alt="{{settings.alt_feat3}}"  />
    <div class="feat-caption {% if settings.position_feat3 == 'feat3_left' %}feat-left {% endif %}{% if settings.position_feat3 == 'feat3_center' %}feat-center {% endif %}{% if settings.position_feat3 == 'feat3_right' %}feat-right{% endif %}">
      <h2 style="color: {{ settings.captioncolor_feat3 }};">{{ settings.captiontitle_feat3 }}</h2>
      <p class="interior">{{ settings.caption_feat3 }}</p>
      <div class="caption-button">
        <p>{{ settings.button_feat3 }}</p>
      </div>
    </div>
  </div>
</a>
