<!-- /snippets/product-grid-item.liquid -->

{% unless grid_item_width %}

{% endunless %}

{% include 'bold-product' with product, hide_action: 'skip' %}


{% assign on_sale = false %}
{% if bold_compare_at_price > bold_price %}
{% assign on_sale = true %}
{% endif %}

{% assign sold_out = true %}
{% if product.available %}
{% assign sold_out = false %}
{% endif %}

<div class="grid__item large--one-quarter medium--one-half small--one-half product-grid">
  <div class="thumbnail {% cycle '', '', '', '', 'border1','border2','border3','border4' %} {% if product.available %}{%else%}out-of-stock{%endif%}" >
    <!-- begin staff pick badge -->
    {% if product.tags contains 'staff-pick' %}
    <div id="corner">
      <img src="{{ 'logo-xs-small.png' | asset_url }}" alt="logo-small"> <span>STAFF PICK</span>
    </div>
    {% endif %}
    <!-- end staff pick badge -->
    <a href="{{ product.url | within: collection }}" class="grid__image">
      <img src="{{ product.featured_image.src | img_url: 'medium' }}" alt="{{ product.featured_image.alt | escape }}">
    </a>

    <p class="h6">
      <a href="{{ product.url | within: collection }}">{{ product.title }}</a>
    </p>
    <p>

    {% if product.available %}
      <!--Yotpo Star Rating -->
      <div class="yotpo bottomLine"
      data-product-id="{{ product.id }}">
    </div>
    {% endif %}

    {% if product.available %}
    <b {% if collection.handle contains 'warehouse-deals' %} style="color:#F1361D;" {% endif %}>{{ bold_price | money }}</b>
    <s>{{ bold_compare_at_price | money }}</s>
    {%else%}
    <b>Out of stock</b>
    {% endif %}

  </p>
</div>
</div>

