  <!-- begin featured-collection-3 -->

    {% assign collection = collections[section.settings.collection-3] %}
    {% assign products = collections[section.settings.collection-3].products %}
  


    <div class="grid--full grid-padding">
      <div class="grid-item header-line hidden-xs">
      <span id="title-collection">{{section.settings.title-3}}</span><span id="collection-link"><a href="/collections/{{section.settings.collection-3}}">{{section.settings.text-link-3}}</a></span>
    </div>
    <div class="grid__item header-line medium--three-quarters small--three-quarters visible-xs">
      <span id="title-collection">{{section.settings.title-3}}</span>
    </div>
    <div class="grid__item header-line medium--one-quarter small--one-quarter visible-xs text-right">
      <a class="collection-link" href="/collections/{{section.settings.collection-3}}"> See more ></a>
    </div>

      {% include 'product-loop' %}
    </div>


{% schema %}
{
  "name": "Featured collection 3",
  "class": "featured-collection-section",
  "settings": [
    {
      "type": "text",
      "id": "title-3",
      "label": "Heading",
      "default": "Featured collection"
    },
    {
      "type": "collection",
      "id": "collection-3",
      "label": "Collection"
    },
    {
      "type": "text",
      "id": "text-link-3",
      "label": "Link Text"
    }
  ]
}
{% endschema %}

