{% if section.settings.handles != blank %}
{% capture handles %}{{section.settings.handles}}{% endcapture %}
{% assign handles1 = handles | split: ',' %}

{% for tag in handles1 %}

{% if collection.handle contains tag %}

{%- assign collection_image_size = 'x630' -%}

<div class="grid--full grid-padding large--hide" {{ block.shopify_attributes }}>
  {% if section.settings.title != blank %}
  <h4 class="home__subtitle">{{ section.settings.title }}</h4>
  {% endif %}

 {% comment %} <li{% unless current_tags %} class="active"{% endunless %}>
    <a href="{% if collection.handle == "all" %}/collections/all{% else %}{{ collection.url }}{% endif %}">All levels</a>
  </li> {% endcomment %}           

 {% comment %} {% for tag in skills %}
    {% if collection.all_tags contains tag %}
      {% if current_tags contains tag %}
        <li class="active close" data-group="skills" data-handle="{{ tag | handleize }}">
          {{ tag | link_to_remove_tag: tag }}
        </li>
      {% else %}
        <li data-group="skills" data-handle="{{ tag | handleize }}">
          {{ tag | link_to_add_tag: tag }}
        </li>            
      {% endif %}

    {% endif %}
    {% endfor %}{% endcomment %}

    <div class="grid grid--full">
      {% for block in section.blocks limit: section.blocks.size %}

      {%- assign collection = collections[block.settings.collection] -%}
      {%- assign collection_image_url = '' -%}

      {%- assign handle2 = collection.handle -%}

      {% capture collection_image_url %}{{ collection.products.first | img_url: collection_image_size, crop: 'top' }}{% endcapture %}


      <div class="grid__item medium--one-whole small--one-whole {% if handle2 == tag %}medium-down--hide{% endif %}">
        
        <a href="{% if collection.empty? %}#{% else %}{{ collection.url }}{% endif %}" class="collection-grid-item__link">

          <div class="grid--full">
            <div class="grid__item large--one-quarter medium--one-quarter small--one-quarter collection-grid-item__overlay">

              {% if block.settings.thumb-image != blank %}
              <img src="{{ block.settings.thumb-image | img_url: collection_image_size , crop: 'top' }}" alt="{{ block.settings.thumb-image.alt | escape }}" />
              {% else %}

              <img src="{{ collection_image_url }}" alt="amputee-product">
              {% if collection.empty? %}
              {% capture current %}{% cycle 1, 2, 3, 4, 5, 6 %}{% endcapture %}
              {{ 'collection-' | append: current | placeholder_svg_tag: 'placeholder-svg' }}
              {% endif %}

              {%endif%}
            </div>

            <div class="grid__item large--three-quarters medium--three-quarters small--three-quarters">

              <p class="categ-title">{% unless block.settings.link_text == '' %}{{ block.settings.link_text }}{% endunless %}<span><i class="fa fa-arrow-right" aria-hidden="true"></i></span></p>

            </div>

          </div>

        </a>
      </div>
      <hr class="separator {% if handle2 == tag %}medium-down--hide{% endif %}">


      {% endfor %}
    </div>
  </div>


  {% break %}
  {% endif %}
  {% endfor %}
  {% endif %}

  {% schema %}
  {
    "name": "Textiles Subcollections",
    "class": "xs-subcollection-section",
    "max_blocks": 12,
    "settings": [
    {
      "type": "textarea",
      "id": "handles",
      "label": "Enter collections handles comma-separated:",
      "info": "Enter collections handles separated only with comma (not space) and the others categories are showing!"
    },
    {
      "type": "text",
      "id": "title",
      "label": "Heading",
      "default": "Other Textiles Categories"
    }

    ],
    "blocks": [
    {
      "type": "xs_subcollection",
      "name": "Subcollection",
      "settings": [
      {
        "label": "Thumbnail image collection",
        "id": "thumb-image",
        "type": "image_picker",
        "info": "Image size recommended 630x630"
      },
      {
        "label": "Collection",
        "id": "collection",
        "type": "collection"
      },
      {
        "type": "text",
        "id": "link_text",
        "label": "Buton Text",
        "default": "View products"
      }
      ]
    }
    ]

  }
  {% endschema %}
