<!-- /templates/collection.sub-collection.liquid -->
{% paginate collection.products by 16 %}
<div id="sub-collection">

   <div id="top">
    <div class="main-content">
      <!-- left part -->
      <div class="grid--full grid-padding">

        <div class="grid__item large--one-quarter title-filters medium--one-whole">
          {% if collection.handle contains 'skin-care-treatments' or collection.handle contains 'prosthetic-cleansers' or collection.handle contains 'sweat-control' or collection.handle contains 'moisturizers' or collection.handle contains 'skin-care-collections' %}
          <h4 class="large--hide"><a class="all-categories" href="/collections/personal-care"><i class="fa fa-angle-left" aria-hidden="true"></i> {{collections.personal-care.title}}</a></h4>
          <h2 class="medium-down--hide"><a href="/collections/personal-care">{{collections.personal-care.title}}</a></h2>
          <h2 class="large--hide">{{ collection.title }}</h2>
          
          {% elsif collection.handle contains 'amputee-socks' or collection.handle contains 'stump-shrinkers' or collection.handle contains 'prosthetic-sheaths' or collection.handle contains 'cosmetic-hosiery' or collection.handle contains 'textile-accessories' %} 
          <h4 class="large--hide"><a class="all-categories" href="/collections/prosthetic-textiles"><i class="fa fa-angle-left" aria-hidden="true"></i> {{collections.prosthetic-textiles.title}}</a></h4>
          <h2 class="medium-down--hide"><a href="/collections/prosthetic-textiles">{{collections.prosthetic-textiles.title}}</a></h2>
          <h2 class="large--hide">{{ collection.title }}</h2>

          {% elsif collection.handle contains 'suspension-belts' or collection.handle contains 'suspension-sleeves' or collection.handle contains 'prosthetic-liners' or collection.handle contains 'suspension-accessories' or collection.handle contains 'slip-on-aids'%}
          <h4 class="large--hide"><a class="all-categories" href="/collections/prosthesis-suspension"><i class="fa fa-angle-left" aria-hidden="true"></i> {{collections.prosthesis-suspension.title}}</a></h4>
          <h2 class="medium-down--hide"><a href="/collections/prosthesis-suspension">{{collections.prosthesis-suspension.title}}</a></h2>
          <h2 class="large--hide">{{ collection.title }}</h2>

          {% comment %}{% elsif collection.handle contains 'cosmetic-finishing' or collection.handle contains 'cushion-and-volume-aids' or collection.handle contains 'slip-on-aids' or collection.handle contains 'travel-and-mobility' or collection.handle contains 'arm-amputee-supplies' or collection.handle contains 'friction-fighting' or collection.handle contains 'prosthetic-remedies' %} {% endcomment %}

          {% elsif collection.handle contains 'distal-end-prosthetic-gel-pads' or collection.handle contains 'gel-socks-sheaths-and-pads-to-adjust-socket-size' or collection.handle contains 'scar-and-wound-care' %} 
          <h4 class="large--hide"><a class="all-categories" href="/collections/prosthetic-gel-pads-sheaths-to-solve-fitting-issues"><i class="fa fa-angle-left" aria-hidden="true"></i> {{collections.prosthetic-gel-pads-sheaths-to-solve-fitting-issues.title}}</a></h4>
          <h2 class="medium-down--hide"><a href="/collections/prosthetic-gel-pads-sheaths-to-solve-fitting-issues">{{collections.prosthetic-gel-pads-sheaths-to-solve-fitting-issues.title}}</a></h2>
          <h2 class="large--hide">{{ collection.title }}</h2>
          {% comment %}{% elsif collection.handle contains 'featured-products' %}
          <h2 style="width: 300px;"><a href="/collections/featured-products">Featured Amputee Supplies</a></h2>{% endcomment %}
          {% endif %}
        </div>
        <!-- end left part -->

        <!-- right part -->
        {% unless collection.handle contains 'featured' %}
        <div class="grid__item large--three-quarters parent-filters medium-down--hide" style="border-left: 1px solid #ccc;">
          <ul class="collection-tags">
            {% if collection.handle contains 'skin-care-treatments' or collection.handle contains 'prosthetic-cleansers' or collection.handle contains 'sweat-control' or collection.handle contains 'moisturizers' or collection.handle contains 'skin-care-collections' %}
            {% for link in linklists.personal-care.links %}
            <li><a href="{{ link.url }}" class="menu-link {% if link.active %}current{% endif %}">{{ link.title }}</a></li>
            {% endfor %}

            {% elsif collection.handle contains 'amputee-socks' or collection.handle contains 'stump-shrinkers' or collection.handle contains 'prosthetic-sheaths' or collection.handle contains 'cosmetic-hosiery' or collection.handle contains 'textile-accessories' %} 
            {% for link in linklists.prosthetic-textiles.links %}
            <li><a href="{{ link.url }}" class="menu-link {% if link.active %}current{% endif %}">{{ link.title }}</a></li>
            {% endfor %}

            {% elsif collection.handle contains 'suspension-belts' or collection.handle contains 'suspension-sleeves' or collection.handle contains 'prosthetic-liners' or collection.handle contains 'suspension-accessories' or collection.handle contains 'slip-on-aids'%}
            {% for link in linklists.prosthetic-suspension.links %}
            <li><a href="{{ link.url }}" class="menu-link {% if link.active %}current{% endif %}">{{ link.title }}</a></li>
            {% endfor %}

            {% elsif collection.handle contains 'distal-end-prosthetic-gel-pads' or collection.handle contains 'gel-socks-sheaths-and-pads-to-adjust-socket-size' or collection.handle contains 'scar-and-wound-care' %} 
            {% for link in linklists.prosthetic-gel-products-for-amputees.links %}
            <li><a href="{{ link.url }}" class="menu-link {% if link.active %}current{% endif %}">{{ link.title }}</a></li>
            {% endfor %}
            {% endif %}
          </ul>
        </div>
        {% endunless %}
        <!--end right part -->

      </div> <!-- main-content -->
      <hr class="first-line">
    </div>
  </div><!-- #top -->

  <!-- begin breadcrumb -->
  {% include 'breadcrumb' %}
  <!-- end breadcrumb -->


  <!-- begin filter -->
  {% include 'toolbar' %}
  <!-- end filter -->

  <div class="grid--full grid-padding">
    <div class="grid__item large--one-half medium--one-half">
     <!--  <h2 id="title-collection-current">{{collection.title | replace: "for Amputees", ""}}</h2> -->
   </div>
   <div class="grid__item large--one-half text-right  medium--one-half">
    
  </div>  
</div>


<!-- begin grid uniform -->
<div class="grid--full grid-padding">
  {% assign products = collection.products %}
  {% for product in products limit:8 %}

  {% include 'bold-product' with product, hide_action: 'skip' %}
  {% include 'product-grid-item' %}
  {% endfor %}

</div>
<!-- end grid uniform -->




<!-- new pagination -->
<div class="pagination">
  {% if paginate.previous %}
  <a class="pagination-item" style="display: inline-block;" href="{{ paginate.previous.url }}"><img src="{{ 'arrow-left.png' | asset_url }}"><span class="arrow-text">Back</span></a>
  {% endif %}
  {% for part in paginate.parts %}
  {% if part.is_link %}
  <span class="page"> 
    <a href="{{ part.url }}">{{ part.title }}</a>
  </span>
  {% else %}
  {% if part.title == '&hellip;' %}
  {{ part.title }}
  {% else %}
  <span class="current page">{{ part.title }}</span>
  {% endif %}
  {% endif %}
  {% endfor %}
  {% if paginate.next %}
  <a class="pagination-item" style="display: inline-block;" href="{{ paginate.next.url }}"><span class="arrow-text">Next</span> <img src="{{ 'arrow-right.png' | asset_url }}"></a>
  {% endif %}
</div>
{% endpaginate %}
<!-- end new pagination -->


</div><!-- #sub-collection -->

<!-- Yotpo Style for Collection Star Rating -->
{% comment %}<style>
div.yotpo.bottomLine .pull-left {
  float: none;
  margin: 0 5px 5px 0; 
}
div.yotpo.bottomLine.yotpo-small {
  display: block;
  margin: 0 5px 5px 0; 
}
.yotpo a.text-m {
  display: inline-block;
}
</style>{% endcomment %}

<hr>

{% section 'xs-others-subcollection1' %}
{% section 'xs-others-subcollection2' %}
{% section 'xs-others-subcollection3' %}
{% section 'xs-others-subcollection4' %}

<div class="grid--full grid-padding">
  <div id="colect-descr">
    <h1>{{ collection.title | append: " from amputeestore.com"}}</h1>
    {{ collection.description }}
  </div> 
</div> 

{% include 'top-of-page' %} 

{{ 'bootstrap.min.js' | asset_url | script_tag }} 