<!-- /templates/product.liquid -->
{% include 'bold-product' with product, hide_action: 'break' %}{% if bold_hidden_product %}{% break %}{%endif %}

<div itemscope itemtype="http://schema.org/Product">

  <meta itemprop="url" content="{{ shop.url }}{{ product.url }}">
  <meta itemprop="image" content="{{ product.featured_image.src | img_url: 'grande' }}">

  {% assign current_variant = bold_selected_or_first_available_variant %}
  {% assign my_description = product.description | split: '<!-- split -->'  %}


  <div id="top">
    <div class="main-content">
      <!-- left part -->
      <div class="grid--full grid-padding hidden-xs">
        <div class="grid__item large--one-quarter title-filters medium--one-quarter">

          {% if product.tags contains 'Textiles' %}
          <h2><a href="/collections/prosthetic-textiles" >{{collections.prosthetic-textiles.title}}</a></h2>
          {% elsif product.tags contains 'Personal Care' %}
          <h2><a href="/collections/prosthetic-textiles" >{{collections.prosthetic-textiles.title}}</a></h2>
          {% elsif product.tags contains 'Suspension' %}
          {% comment %}{% elsif product.tags contains 'Prosthesis Suspension' or product.tags contains 'Suspension Belts' or product.tags contains 'Suspension Sleeves' or product.tags contains 'Prosthetic Liners' or product.tags contains 'Suspension Accessories' %}{% endcomment %}
          <h2><a href="/collections/prosthesis-suspension" >{{collections.prosthesis-suspension.title}}</a></h2>
          {% comment %}{% elsif product.tags contains 'Cosmetic Finishing' or product.tags contains 'Cushion and Volume Aids' or product.tags contains 'Slip on Aids' or product.tags contains 'Travel and Mobility' or product.tags contains 'Arm Amputee Supplies' or product.tags contains 'Friction Fighting' or product.tags contains 'Prosthetic Remedies' %} {% endcomment %}
          {% elsif product.tags contains 'Gel Solutions' or product.tags contains 'Socket Sizing' or product.tags contains 'Bottom End Pad' or product.tags contains 'Scar and Wound Care' or product.tags contains 'Distal End Pad'%}
          <h2><a href="/collections/prosthetic-gel-pads-sheaths-to-solve-fitting-issues" >{{collections.prosthetic-gel-pads-sheaths-to-solve-fitting-issues.title}}</a></h2>
          {% endif %}

        </div>
        <!-- end left part -->

        <!-- right part -->
        <div class="grid__item large--three-quarters parent-filters medium--three-quarters" style="border-left: 1px solid #ccc;">

          <ul class="collection-tags">
            {% if product.tags contains 'Textiles' or product.tags contains 'Shrinkers' or product.tags contains 'Shrinkers' or product.tags contains 'Sheaths' or product.tags contains 'Cosmetic Hosiery'%}
            {% for link in linklists.prosthetic-textiles.links %}
            <li><a href="{{ link.url }}" class="menu-link {% if link.active %}current{% endif %}">{{ link.title }}</a></li>
            {% endfor %}

            {% elsif product.tags contains 'Personal Care' or product.tags contains 'Skin Care Treatments' or product.tags contains 'Cleansers' or product.tags contains 'Sweat Control' or product.tags contains 'Moisturizers' or product.tags contains 'Skin Care Collections'%}
            {% for link in linklists.personal-care.links %}
            <li><a href="{{ link.url }}" class="menu-link {% if link.active %}current{% endif %}">{{ link.title }}</a></li>
            {% endfor %}

            {% elsif product.tags contains 'Suspension' or product.tags contains 'Suspension Belts' or product.tags contains 'Suspension Sleeves' or product.tags contains 'Prosthetic Liners' or product.tags contains 'Suspension Accessories' or product.tags contains 'Slip-On Aids' %}
            {% for link in linklists.prosthetic-suspension.links %}
            <li><a href="{{ link.url }}" class="menu-link {% if link.active %}current{% endif %}">{{ link.title }}</a></li>
            {% endfor %}

            {% elsif product.tags contains 'Gel Solutions' or product.tags contains 'Socket Sizing' or product.tags contains 'Bottom End Pad' or product.tags contains 'Scar and Wound Care' or product.tags contains 'Distal End Pad'%}
            {% for link in linklists.gel-solutions.links %}
            <li><a href="{{ link.url }}" class="menu-link {% if link.active %}current{% endif %}">{{ link.title }}</a></li>
            {% endfor %}
            {%endif%}
          </ul>
        </div>

        <!--end right part -->
        <hr class="separator">
      </div> <!-- main-content -->
    </div>
  </div><!-- #top -->

  {% include 'breadcrumb' %}

  <div class="grid--full grid-padding product-single">
    <div class="grid__item large--one-half right-spacing">
      {% comment %}<div class="product-single__photos" id="ProductPhoto">
        {% assign featured_image = product.featured_image %}
        <img src="{{ featured_image | img_url: 'original' }}" alt="{{ featured_image.alt | escape }}" id="ProductPhotoImg" data-imagezoom="true">
      </div>

     {% if product.images.size > 1 %}
      <ul class="product-single__thumbnails grid-uniform" id="ProductThumbs">

        {% for image in product.images %}
        <li class="grid__item one-quarter">
          <a href="{{ image.src | img_url: 'large' }}" class="product-single__thumbnail">
            <img src="{{ image.src | img_url: 'compact' }}" alt="{{ image.alt | escape }}">
          </a>
        </li>
        {% endfor %}

      </ul>
      {% endif %}
      {% endcomment %}

      <!-- begin flexslider product -->
      {% include 'product-images' %}
      <!-- end flexslider product -->

    </div>


    <div class="grid__item large--one-half">
      <div class="my-hidden-xs">

        <h1 itemprop="name">{{ product.title }}</h1>


        <div class="vendor-line">

          <p class="vendor-title">by <a href="/collections/{{product.vendor | replace: " ", "-" | downcase }}">{{ product.vendor | replace: "-", " " }}</a></p>
          {% comment %}<p class="vendor-title">by {{ product.vendor | replace: "-", " " | link_to_vendor }}</p>{% endcomment %}

          <div class="yotpo bottomLine"
          data-appkey="NuT1UIlxTbSur2znb49km0JEX7gsE8Xqwiqw1r1b"
          data-domain="{{ shop.permanent_domain | escape }}"
          data-product-id="{{ product.id }}"
          data-product-models="{{ product.id }}"
          data-name="{{ product.title | escape }}"
          data-url="{{ shop.url }}{{ product.url }}"
          data-image-url="{{ product.featured_image | product_img_url: 'large' |replace: '?', '%3F' | replace: '&','%26'}}"
          data-description="{{ product.description | escape }}"
          data-bread-crumbs="{% for tag in product.tags %}{{ tag | escape }};{% endfor %}">
        </div>
        <span class="vertical-line">|</span>
        <div class='yotpo QABottomLine'
        data-appkey='NuT1UIlxTbSur2znb49km0JEX7gsE8Xqwiqw1r1b'
        data-product-id='{{ product.id }}'>
      </div>
    </div>

  </div>

  <div itemprop="offers" itemscope itemtype="http://schema.org/Offer">
    <meta itemprop="priceCurrency" content="{{ shop.currency }}">

    <link itemprop="availability" href="http://schema.org/{% if product.available %}InStock{% else %}OutOfStock{% endif %}">

    <form action="/cart/add" method="post" enctype="multipart/form-data" id="AddToCartForm" class="form-vertical shapp_qb_prod">

      <span id="ProductPrice" class="h2" itemprop="price">
        {% if product.price_varies %}{{ product.price_min | money }}-{{ product.price_max | money }}{% else %}{{ current_variant.price | money }}{% endif %}
      </span>


      {% if bold_compare_at_price_max > bold_price %}
      <p id="ComparePrice">
       {% if product.compare_at_price_varies %}{{ product.compare_at_price_min | money }}-{{ product.compare_at_price_max | money }}{% else %}{{ current_variant.compare_at_price | money }}{% endif %}
     </p>
     {% endif %}


     {% if product.tags contains 'Free Ship Near Price' %}
     <div class="instock-freeship-alert">
      <p class="green">{{settings.free-text-50}}</p>
    </div>
    {% endif %}



    {% if product.tags contains 'free-shipping' %}
    <div class="instock-freeship-alert">
      <p class="green">{{settings.free-shipping}}</p>
    </div>
    {% endif %}

      {% comment %}{% if product.tags contains 'Free Ship Near Price' %}
       <div class="instock-freeship-alert">
        <p class="green">{{settings.free-text}}</p>
      </div>
      {% endif %}{% endcomment %}

      {% if product.available %}
      <p class="text-left in-stock">{{settings.in-stock-text}}</p>
      {% comment %}{% else %}
      <div class="shipping-alert">
        <p>{{settings.out-stock-text}}</p>
      </div>{% endcomment %}
      {% endif %}

      {% if product.tags contains 'product-delay' %}
      <div class="shipping-alert">
        <p class="line-item-property__field">
          <input id="this-product-will-delay-your-order-by-approximately-4-7-days" type="checkbox" name="properties[{{settings.product-delay}}]" value="*" class="hidden-label" checked="checked">
          <label class="product-delay" for="this-product-will-delay-your-order-by-approximately-4-7-days">{{settings.product-delay}}</label>
        </p>
      </div>
      {% endif %}


      {% comment %}<br class="clear">
      <div class="line-separator"></div>
      <br class="clear"> {% endcomment %}
      <hr>


      {% if product.tags contains 'Size Chart' %}
      <div id="size-trigger" class="size-xs">
        <a href="#!"><img src="{{ 'ruler.png' | asset_url }}">Size Chart Guide</a>
      </div>
      {% endif %}



      <div class="size-box">
        <select name="id" id="productSelect" class="product-single__variants" required>
          {% for variant in product.variants %}
          {% include 'bold-hidden-variants' with variant, bold_loop: 'loop' %}

          {% if variant.available %}
          <option value="{{ variant.id }}" data-price="{{ variant.price | money_without_currency | remove: ',' }}">{{ variant.title }} - {{ variant.price | money }}</option>
          {% else %}
          <option disabled="disabled">
            {{ variant.title }} - {{ 'products.product.sold_out' | t }}
          </option>
          {% endif %}

          {% endfor %}
        </select>
      </div>

      {% if product.tags contains 'Size Chart' %}
      <div id="size-trigger" class="size-large">
        <a href="#!"><img src="{{ 'ruler.png' | asset_url }}">Size Chart Guide</a>
      </div>
      {% endif %}


      <img src="{{ 'close.png' | asset_url }}" id="size-close" style="display: none;">

      <div id="size-chart" style="display: none;">
        {{ my_description[1] }}
      </div>


      {% if product.available and product.options.first != 'Title' %}
      {% for option in product.options %}
      {% capture option_index %}option{{ forloop.index }}{% endcapture %}
      {% assign option_values = product.variants | map: option_index | uniq %}
      {% if option_values.size <= 3 %}
      {% include 'swatch' with option %}
      {% endif %}
      {% endfor %}
      {% endif %}


      {% comment %}{% if product.tags contains 'Select Option' %}
      <div class="options-alert">
        <p>(Please select all available options)</p>
      </div>
      {% endif %}{% endcomment %}


      {% comment %}<div class="line-separator"></div>{% endcomment %}

      <input name="shopify_customer_id" type="hidden" value="{{ customer.id }}" > 
      <input name="email" type="hidden" value="{{ customer.email }}" > 
      <input name="address1" type="hidden" value="{{ customer.default_address.address1 }}" > 
      <input name="address2" type="hidden" value="{{ customer.default_address.address2 }}" > 
      <input name="city" type="hidden" value="{{ customer.default_address.city }}" > 
      <input name="company" type="hidden" value="{{ customer.default_address.company }}" > 
      <input name="country" type="hidden" value="{{ customer.default_address.country }}" > 
      <input name="first_name" type="hidden" value="{{ customer.default_address.first_name }}" > 
      <input name="last_name" type="hidden" value="{{ customer.default_address.last_name }}" > 
      <input name="phone" type="hidden" value="{{ customer.default_address.phone }}" > 
      <input name="province" type="hidden" value="{{ customer.default_address.province }}" > 
      <input name="zip" type="hidden" value="{{ customer.default_address.zip }}" >
      {% include 'bold-ro' with product %}

      {% comment %} <br class="clear">{% endcomment %}


      {% comment %}<div class="quantity-field">
       <button type="button" class="ajaxcart__qty-adjust ajaxcart__qty--minus" data-id="{{id}}" data-qty="{{itemMinus}}">&minus;</button>
       <input type="text" class="ajaxcart__qty-num" id="Quantity" name="quantity" min="1" value="{{itemQty}}" placeholder="1" data-id="{{id}}" aria-label="quantity" pattern="[0-9]*">
       <button type="button" class="ajaxcart__qty-adjust ajaxcart__qty--plus" data-id="{{id}}" data-qty="{{itemAdd}}">+</button>
     </div>{% endcomment %} 
     {% comment %}{% if product.options > 0 %}
     <p class="height-txt">
      *You must select option(s) above!
    </p>
    {%endif%}{% endcomment %}

    <div class="add-to-cart">
      <div class="quantity-box">
        {% comment %}{% assign quantityOptions = '1,2,3,4,5,6,7,8,9,10' | split:',' %}
        <label for="quantity" >QTY: </label>
        <select id="quantity" name="quantity">
          {% for q in quantityOptions %}
          <option value="{{ q }}">{{ q }}</option>
          {% endfor %}
        </select>{% endcomment %}


        <span class="qty">{% comment %}{{ 'cart.label.quantity' | t }}{% endcomment %}QTY: </span>
        {% comment %}<input type="number" name="updates[]" id="updates_{{ item.id }}" value="{{ item.quantity }}" min="0">{% endcomment %}
        <select id="quantity" name="quantity" class="quantity"> 
          {% for i in (1..10) %} {% assign q = i %}
          <option value="{{ q }}"{% if item.quantity == q %} selected{% endif %}>{{ i }}</option>
          {% endfor %}
        </select>
        
      </div>
      
      <button type="submit" name="add" id="AddToCart" class="btn addtocart">
        {% if product.available %}
        <!-- bold-ro-liquid --> <div class="title-box"><div class="bold_add_to_orders" style="display: inline-block;">{{ 'autoship-add-to-cart.png' | asset_url | img_tag: shop.name }} ADD AUTOSHIP TO CART</div> <!-- bold-ro-liquid -->
        <span id="AddToCartText">Add to Cart</span></div>
        {% else %}
        <span id="AddToCartText">{{ 'products.product.sold_out' | t | json }}</span>
        {%endif%}
      </button>

    </div>



    

  </form>


  {% unless qb_loaded == 'true' %}
  <div class="shappify-qty-msg">{{bold_selected_or_first_available_variant.metafields.shappify_qb.pricing_html}}</div>
  {% assign qb_loaded = 'true' %}
  {% endunless %}
  <br>
</div>

<div class="product-description rte" itemprop="description">
 {{ my_description[0] }}
</div>
</div>
</div>


{% comment %}{% if product.metafields.yotpo.reviews_count and product.metafields.yotpo.reviews_count != "0" %}
<div itemprop="aggregateRating" itemscope itemtype="http://schema.org/AggregateRating">
 <span itemprop="itemReviewed">{{ product.title }}</span>
 has a rating of <span itemprop="ratingValue">{{ product.metafields.yotpo.reviews_average }}</span> stars
 based on <span itemprop="ratingCount">{{ product.metafields.yotpo.reviews_count }}</span> reviews.
</div>
{% endif %}{% endcomment %}



<div class="sub-description">
  <div class="grid--full grid-padding">
    <h2>Product Description</h2>
    {{ my_description[2] }}
  </div>
</div>

{% include 'related-products' %}

<div id="cbb-frequently-bought-box"></div>

<main class="grid--full grid-padding yotpo-top" >
  <div class="yotpo yotpo-main-widget"
  data-product-id="{{ product.id }}"
  data-name="{{ product.title | escape }}"
  data-url="{{ shop.url }}{{ product.url }}"
  data-image-url="{{ product.featured_image | product_img_url: "large" |replace: '?', '%3F' | replace: '&','%26'}}"
  data-description="{{ product.description | escape }}">
</div>
</main>


<main class="grid--full grid-padding yotpo-bottom" >
  <div class="yotpo yotpo-main-widget"
  data-product-id="{{ product.id }}"
  data-name="{{ product.title | escape }}"
  data-url="{{ shop.url }}{{ product.url }}"
  data-image-url="{{ product.featured_image | product_img_url: "large" |replace: '?', '%3F' | replace: '&','%26'}}"
  data-description="{{ product.description | escape }}">
</div>
</main>






{% comment %}
  To take advantage of a callback on the select dropdown, add option_selection.js
  and customize the JS in timber.productPage as needed.

  Currently, timber.productPage does the following:
    - Hides your <select> tag from above
    - Breaks out the product variants into separate product options, if more than one exists
    - Generates a <select> tag for each product option
    - Enables/disables elements based on variant availability

  Callback notes:
    - Keep the callback available to the global scope (window.selectCallback) so that advanced
      addons can override it.
      * E.g. multiple currencies http://docs.shopify.com/manual/configuration/store-customization/currencies-and-translations/currencies/how-to-toggle-between-two-currencies
      {% endcomment %}
      {{ 'option_selection.js' | shopify_asset_url | script_tag }}
      <script>
        var selectCallback = function(variant, selector) {
          // BEGIN SWATCHES
          if (variant) {
            var form = jQuery('#' + selector.domIdPrefix).closest('form');
            for (var i=0,length=variant.options.length; i<length; i++) {
              var radioButton = form.find('.swatch[data-option-index="' + i + '"] :radio[value="' + variant.options[i] +'"]');
              if (radioButton.size()) {
                radioButton.get(0).checked = true;
              }
            }
          }
// END SWATCHES

timber.productPage({
  money_format: "{{ shop.money_format }}",
  variant: variant,
  selector: selector
});

};

jQuery(function($) {

  new Shopify.OptionSelectors('productSelect', {
    product: 	bold_product_json[{{ product.id }}],
    onVariantSelected: selectCallback,
    enableHistoryState: true
  });

  {% if bold_variants_size > 1 %}
  {% for option in product.options %}
  $('.single-option-selector:eq({{ forloop.index0 }})')
  .filter(function() { return $(this).find('option').size() > 1  })
  .prepend('<option value="" selected="selected" autocomplete="off">Select ' + {{ product.options[forloop.index0] | json }} + '</option>')
  .val('')
  .trigger('change');
  {% endfor %}
  {% endif %}

// if is only one selector

{% if bold_variants_size == 1 %}
{% unless product.has_only_default_variant %}
$('.single-option-selector')
.prepend('<option value="" selected="selected" autocomplete="off">Select ' + {{ product.options | json }} + '</option>')
.trigger('change');
{% endunless %}
{% endif %}

$('.selector-wrapper:eq(0)').addClass('first-selector');



  // Add label if only one product option and it isn't 'Title'. Could be 'Size'.//(or product.variants.first.title contains '1+')
  {% if product.options.size == 1 and product.options.first != 'Title'  %}
  $('.selector-wrapper:eq(0)').prepend('<label for="productSelect-option-0">{{ product.options.first | escape }}</label>');
  {% endif %}

    //Hide selectors if we only have 1 variant and its title contains 'Default'.
    {% if bold_variants_size == 1 and product.has_only_default_variant %}
    $('.selector-wrapper').hide();
    {% endif %}

    {% if product.has_only_default_variant %}
    $('.selector-wrapper').hide();
    {% endif %}

  });

</script>




</div>

<style>
.hover_modal {
 pointer-events: none !Important; 
}
</style>


<script>
function testAnim(x) {

  $('.selector-wrapper select').removeClass('bounce animated').addClass(x + ' animated').one('webkitAnimationEnd mozAnimationEnd MSAnimationEnd oanimationend animationend', function(){
    $(this).removeClass('bounce animated');
  });
};

function testAnim2(x) {
  $('.swatch-variant').removeClass('bounce animated').addClass(x + ' animated').one('webkitAnimationEnd mozAnimationEnd MSAnimationEnd oanimationend animationend', function(){
    $(this).removeClass('bounce animated');
  });
};

  function setColor()
  {
   if($("#productSelect-option-0 option:selected").filter(":contains('Select')").length === 0) {
    $('#productSelect-option-0').css({'background-color':'rgb(254, 220, 184)','border':'1px solid rgb(255, 101, 1)'}); 
  } else {
 $('#productSelect-option-0').css({'background-color':'#f5f5f5','border':'1px solid #a1a1a1'}); 
   }
}

  function setColorOne()
  {
   if($("#productSelect-option-1 option:selected").filter(":contains('Select')").length === 0) {
    $('#productSelect-option-1').css({'background-color':'rgb(254, 220, 184)','border':'1px solid rgb(255, 101, 1)'}); 
  } else {
 $('#productSelect-option-1').css({'background-color':'#f5f5f5','border':'1px solid #a1a1a1'}); 
   }
}

  function setColorTwo()
  {
   if($("#productSelect-option-2 option:selected").filter(":contains('Select')").length === 0) {
    $('#productSelect-option-2').css({'background-color':'rgb(254, 220, 184)','border':'1px solid rgb(255, 101, 1)'}); 
  } else {
 $('#productSelect-option-2').css({'background-color':'#f5f5f5','border':'1px solid #a1a1a1'}); 
   }
}

  function setColorThree()
  {
   if($("#productSelect-option-3 option:selected").filter(":contains('Select')").length === 0) {
    $('#productSelect-option-3').css({'background-color':'rgb(254, 220, 184)','border':'1px solid rgb(255, 101, 1)'}); 
  } else {
 $('#productSelect-option-3').css({'background-color':'#f5f5f5','border':'1px solid #a1a1a1'}); 
   }
}

  function setColorFour()
  {
   if($("#productSelect-option-4 option:selected").filter(":contains('Select')").length === 0) {
    $('#productSelect-option-4').css({'background-color':'rgb(254, 220, 184)','border':'1px solid rgb(255, 101, 1)'}); 
  } else {
 $('#productSelect-option-4').css({'background-color':'#f5f5f5','border':'1px solid #a1a1a1'}); 
   }
}



$(document).ready(function(){
  $('.bold_add_to_orders').hide();


  $( "#AddToCart" ).click(function() {
    if ( $( this ).hasClass( "disabled" ) ) {
      var anim = "bounce";
      testAnim(anim);
      testAnim2(anim);
    }
  });


  $('#productSelect-option-0').change(function(){
    setColor();       
  });


$('#productSelect-option-1').change(function(){
    setColorOne();       
  });


$('#productSelect-option-2').change(function(){
    setColorTwo();       
  });

$('#productSelect-option-3').change(function(){
    setColorThree();       
  });

$('#productSelect-option-4').change(function(){
    setColorFour();       
  });

});
</script>


